*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* Main container box */
#box{ 
    margin: 10vh 25vw;
    width: 50vw;
    height: 80vh;
}
/* Styling the button */
#button{
    height: 10vh;
    width: 50vw;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT';
    border: none;
    color: white;
    background:linear-gradient(to right, darkblue, green);
    cursor: pointer;
}
/* Image styling inside the box */
#img{
    height: 70vh;
    width: 50vw;  
    display: block;
}
/* Button hover effect */
#button:hover{
    background:linear-gradient(to right, yellow, tomato);
}